################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Zajęcia 2/.vs/Metin2
/Zajęcia 2/Metin2/bin/Debug/netcoreapp3.0
/Zajęcia 2/Metin2/obj/Debug/netcoreapp3.0
/Zajęcia 2/Metin2/obj
/Zajęcia 3/Animals/Animals/.vs/Animals
/Zajęcia 3/Animals/Animals/Animals/bin/Debug/netcoreapp3.1
/Zajęcia 3/Animals/Animals/Animals/obj/Debug/netcoreapp3.1
/Zajęcia 3/Animals/Animals/Animals/obj
/Zajęcia 3/Ptaki/.vs
/Zajęcia 3/Ptaki/Ptaki/bin/Debug/netcoreapp3.0
/Zajęcia 3/Ptaki/Ptaki/obj
/Zajęcia 1/.vs/Zajęcia 1
/Zajęcia 1/Zajęcia 1/bin/Debug/netcoreapp3.1
/Zajęcia 1/Zajęcia 1/obj
/Zajęcia 4/Kolekcje/.vs/Kolekcje
/Zajęcia 4/Kolekcje/Kolekcje/bin/Debug/netcoreapp3.0
/Zajęcia 4/Kolekcje/Kolekcje/obj
/Zajęcia 4/Polymorphism/.vs/Polymorphism/v16
/Zajęcia 4/Polymorphism/Polymorphism/bin/Debug
/Zajęcia 4/Polymorphism/Polymorphism/obj/Debug
/Zajęcia 5/LINQ/.vs/LINQ
/Zajęcia 5/LINQ/LINQ/bin/Debug/netcoreapp3.1
/Zajęcia 5/LINQ/LINQ/obj
/Zajęcia 6/delegates/.vs/delegates
/Zajęcia 6/delegates/delegates/bin/Debug/netcoreapp3.0
/Zajęcia 6/delegates/delegates/obj
/Zajęcia 6/Exception Handling/.vs/Exception Handling
/Zajęcia 6/Exception Handling/Exception Handling/bin/Debug/netcoreapp3.0
/Zajęcia 6/Exception Handling/Exception Handling/obj
/Zajęcia 6/Observer/.vs/Observer
/Zajęcia 6/Observer/Observer
