################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Zajęcia 2/.vs/Metin2
/Zajęcia 2/Metin2/bin/Debug/netcoreapp3.0
/Zajęcia 2/Metin2/obj/Debug/netcoreapp3.0
/Zajęcia 2/Metin2/obj
/Zajęcia 3/Animals/Animals/.vs/Animals
/Zajęcia 3/Animals/Animals/Animals/bin/Debug/netcoreapp3.1
/Zajęcia 3/Animals/Animals/Animals/obj/Debug/netcoreapp3.1
/Zajęcia 3/Animals/Animals/Animals/obj
/Zajęcia 3/Ptaki/.vs
/Zajęcia 3/Ptaki/Ptaki/bin/Debug/netcoreapp3.0
/Zajęcia 3/Ptaki/Ptaki/obj
